name: Build Weather Image

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Check out
        uses: actions/checkout@v4

      - name: Log into GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build container
        run: |
          docker build -t ghcr.io/${{ github.repository_owner }}/weather-image:latest .

      - name: Push container
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/weather-image:latest
